*.map
*.min.js
*.pyc
*.pyo
.editorconfig
.gae.auth
.jscsrc
.jshintignore
.jshintrc
.npmignore
.sass-cache
.scss-lint.yml
/application/templates/svgs.html
/node_modules
/tmp
/vendor
/web/build
/web/css/main.css
/web/docs
/web/vendor
livereload.js
