// Colors
$black: #000;
$white: #fff;
$gray: #f1f1f1;
$red: #f00;

// Site
$base-max-width: 1000px;
$base-font-color: $black;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: sans-serif;

// Grid
$grid-gutter-width: 15px;

// Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

